torch
fastapi==0.90.1
numpy
basicsr==1.4.2
pytorch_lightning==1.9.4
gradio
kornia
transformers
clip
open_clip_torch
einops
omegaconf
xformers
piexif
fonts
font-roboto
opencv_python
safetensors
scikit-image
tensorboard
psutil
lark
GitPython
blendmodes
jsonmerge
torchdiffeq
torchsde
clean-fid
resize_right
facexlib
gfpgan
realesrgan
inflection
